
@model IEnumerable<SliderViewModel>

<div class="swiper-wrapper">
    @foreach (var item in Model)
    {
        <div class="swiper-slide">
            <div class="slide-inner slide-bg-image" data-background="uploads/@item.Image">
                <div class="container">
                    <div data-swiper-parallax="300" class="slide-title">
                        <h2>@item.Title</h2>
                    </div>
                    <div data-swiper-parallax="400" class="slide-text">
                        <p>@item.Slogon</p>
                    </div>
                    <div class="clearfix"></div>
                    <div data-swiper-parallax="500" class="slide-btns">
                        <a href="@item.EndPoint" class="theme-btn">@item.ActionText</a>
                    </div>
                </div>
            </div>
        </div>

    }
</div>


@*<div class="swiper-slide">

            <div class="slide-inner slide-bg-image" data-background="" src="~/images/slider/slide-2.jpg">
                <div class="container">
                    <div data-swiper-parallax="300" class="slide-title">
                        <h2>#1 Insurance company</h2>
                    </div>
                    <div data-swiper-parallax="400" class="slide-text">
                        <p>We are ready to serve you our best service, you have to just contact with us</p>
                    </div>
                    <div class="clearfix"></div>
                    <div data-swiper-parallax="500" class="slide-btns">
                        <a href="#" class="theme-btn">More About Us</a>
                    </div>
                </div>
            </div>  end slide-inner
        </div>  end swiper-slide

        <div class="swiper-slide">
            <div class="slide-inner slide-bg-image" data-background="" src=" ~/images/slider/slide-3.jpg">
                <div class="container">
                    <div data-swiper-parallax="300" class="slide-title">
                        <h2>Solution of your insurance</h2>
                    </div>
                    <div data-swiper-parallax="400" class="slide-text">
                        <p>We are ready to serve you our best service, you have to just contact with us</p>
                    </div>
                    <div class="clearfix"></div>
                    <div data-swiper-parallax="500" class="slide-btns">
                        <a href="#" class="theme-btn">More About Us</a>
                    </div>
                </div>
            </div>  end slide-inner
        </div> end swiper-slide
    </div>
     end swiper-wrapper
     swipper controls*@

